<div class="container">
  <div class="row">
    <div class="col">
      <h1>Bejelentkezés</h1>
      <%= form_with url: login_users_path do |form| %>

        <div class="field">
          <%= form.label 'Név' %>
          <%= form.text_field :name %>
        </div>

        <div class="field">
          <%= form.label 'Jelszó' %>
          <%= form.password_field :password %>
        </div>

        <div class="actions">
          <%= form.submit "Bejelentkezés" %>
        </div>
      <% end %>

    </div>
    <div class="col">
       <h1>Regisztráció</h1>

      <%= render 'form', user: @user %>
    </div>
  </div>
</div>