<h1  class="text-center">
  <%= @subject.name %>
</h1>
<h3>
  Kurzusok:
</h3>
<%= form_with url: apply_subject_path(@subject) do |form| %>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Kurzus Kód</th>
    <th scope="col">Tipus</th>
    <th scope="col">Megjelöl</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
  <tr>
    <td><%= course.code %></td>
    <td><%= course.type.name %></td>
    <td><%= form.check_box "courses[]", {}, course.id, nil %></td>
  </tr>
    <% end %>
  </tbody>
</table>
  <%= form.submit "Felvesz", class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
