<h1  class="text-center">
  <%= @subject.name %>
</h1>
<h3>
  Kurzusok:
</h3>
<%= form_with url: apply_subject_path(@subject) do |form| %>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Kurzus Kód</th>
    <th scope="col">Tipus</th>
    <th scope="col">Megjelöl</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
  <tr>
    <td><%= course.code %></td>
    <td><%= course.type.name %></td>
    <td><%= form.check_box "courses[]", {checked: @courses_applied&.include?(course)}, course.id, nil %></td>
  </tr>
    <% end %>
  </tbody>
</table>
  <% if @subject_application %>
    <%= link_to "Lead", drop_subject_path(@subject), method: :post, class: 'btn btn-danger',style:'float: right' %>
  <% else %>
    <%= form.submit "Felvesz", class: 'btn btn-primary', style:'float: right' %>
  <% end %>
<% end %>
<%= link_to 'Vissza', subjects_path, class: 'btn btn-primary' %>
