<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @course.subject_id %>
</p>

<p>
  <strong>Course type:</strong>
  <%= @course.course_type_id %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
